VITE_API_BASE_URL=http://localhost:8080/api
VITE_JWT_KEY=travelers_hub_token
VITE_KAKAO_CLIENT_ID=a4fb2cc080df0e7a9304360d6926ac64
VITE_KAKAO_REDIRECT_URI=http://localhost:3000/oauth/callback/kakao
VITE_TOSS_CLIENT_KEY=test_ck_dummy_for_local_dev
